/* LMSのサイトに適用するCSSを書く */

body {
    background-color: rgb(243, 250, 255)!important;
}
* {
    font-style: italic!important;
}

iframe {
    display: block;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 5px;
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
}